# /********************************************************************************
# * Copyright (c) 2022 Contributors to the Eclipse Foundation
# *
# * See the NOTICE file(s) distributed with this work for additional
# * information regarding copyright ownership.
# *
# * This program and the accompanying materials are made available under the
# * terms of the Apache License 2.0 which is available at
# * https://www.apache.org/licenses/LICENSE-2.0
# *
# * SPDX-License-Identifier: Apache-2.0
# ********************************************************************************/

apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicledatabroker
  labels:
    app: vehicledatabroker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vehicledatabroker
  template:
    metadata:
      labels:
        app: vehicledatabroker
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "vehicledatabroker"
        dapr.io/app-port: "55555"
        dapr.io/log-level: "info"
        dapr.io/app-protocol: "grpc"
    spec:
      containers:
        - name: vehicledatabroker
          image: ghcr.io/eclipse/kuksa.val/databroker:v0.2.5
          imagePullPolicy: IfNotPresent
          ports:
            - name: default
              containerPort: 55555
              protocol: TCP
          args: ["--dummy-metadata"]              
      imagePullSecrets:
        - name: ghcr-io

---
apiVersion: v1
kind: Service
metadata:
  name: vehicledatabroker-nodeport
spec:
  type: NodePort
  selector:
    app: vehicledatabroker
  ports:
    - port: 55555
      targetPort: 55555
      nodePort: 30555
