[Unit]
Description=start initscript upon first boot
After=k3s.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStartPre=systemctl is-active k3s.service
ExecStart=/usr/sbin/initscript.sh
