# /********************************************************************************
# * Copyright (c) 2022 Contributors to the Eclipse Foundation
# *
# * See the NOTICE file(s) distributed with this work for additional
# * information regarding copyright ownership.
# *
# * This program and the accompanying materials are made available under the
# * terms of the Apache License 2.0 which is available at
# * https://www.apache.org/licenses/LICENSE-2.0
# *
# * SPDX-License-Identifier: Apache-2.0
# ********************************************************************************/
# Eclipse Leda
[Unit]
Description=Northstar Container Runtime
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=mkdir -p /var/lib/northstar
ExecStartPre=mkdir -p /var/log/northstar
ExecStartPre=mkdir -p /data/northstar/repository
ExecStart=/usr/bin/northstar --config /etc/northstar/northstar.toml
Restart=always
RestartSec=5
SyslogIdentifier=northstar
